################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datraw/.vs/datraw/v14
/datraw/Win32/Debug
*.db
*.opendb
/.vs/datraw/v14
/t/Debug
/test/Win32/Debug
/Win32/Debug
