################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datraw/Win32
/datraw/x64
/datraw/ARM
/datraw/ARM64
/test/x64
/test/Win32
/test/ARM
/test/ARM64
/Win32
/x64
/ARM
/ARM64
*.db
*.opendb
/.vs/datraw/v14
/ipch
/x64
*.nupkg
/.vs

